.main-nav {
  margin: 0 auto;
  width: 100%;
  background-color: #FFF; }
  .main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 51px;
    max-width: 1600px; }

.main-logo {
  flex: auto;
  margin-left: 17px; }
  .main-logo > * {
    display: inline; }
  .main-logo img {
    max-height: 34px; }
  .main-logo .logo-text {
    font-size: 27px;
    font-weight: bold; }
    .main-logo .logo-text b {
      color: #008bcf; }

.mobile-menu {
  z-index: 5; }

.mobile-nav {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mobile-nav a {
    color: #FFF; }
  .mobile-nav .navbar-list {
    width: 100%;
    padding-bottom: 50px; }

@keyframes mobileBackground {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.navbar {
  min-width: 40%;
  padding: 0;
  transition: all 1s;
  transition-property: background, height; }

.navbar-list {
  display: flex;
  align-items: center;
  flex-direction: column; }

.navbar-item {
  font-size: 20px;
  color: #4a4a4a;
  padding-bottom: 2px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin: 20px 10px;
  font-weight: bold; }
  .navbar-item:hover {
    text-decoration: none;
    color: #FFF;
    border-bottom: 3px solid #008bcf; }
  .navbar-item:first-child {
    margin-top: 70px; }

.subnav-content {
  display: none; }

.nav-contact-info, .contact-info {
  display: flex; }
  .nav-contact-info .phone-contact, .contact-info .phone-contact {
    color: #545454;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0; }
    .nav-contact-info .phone-contact > img, .contact-info .phone-contact > img {
      margin-right: 5px; }

@media (min-width: 1120px) {
  .main-nav .container {
    min-height: 120px; }
  .main-logo {
    flex: unset; }
  .main-logo img {
    max-height: unset; }
  .navbar {
    min-width: 40%;
    padding: 0; }
    .navbar.index-0 {
      z-index: 1;
      height: unset;
      visibility: unset; }
  .navbar-list {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 100%; }
  .navbar-item {
    font-size: 14px;
    color: #4a4a4a;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-weight: normal; }
    .navbar-item:hover {
      color: #4a4a4a;
      border-bottom: 4px solid #008bcf;
      text-decoration: none; }
    .navbar-item:first-child {
      margin-top: 20px;
      margin-left: 83px; } }

.main-header {
  background: center center no-repeat url("../img/header-image.jpg");
  background-size: cover;
  padding: 29px 0 79px; }

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center; }

.header-title {
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 21px; }

.input-container-desktop {
  display: flex;
  background-color: #FFF;
  padding: 0 15px;
  border-radius: 3px;
  margin-bottom: 27px; }
  .input-container-desktop > input {
    outline: none;
    border: 0;
    font-size: 18px;
    width: 300px;
    max-width: 100%;
    margin: 0 48px 0 12px; }
    .input-container-desktop > input::placeholder {
      font-weight: lighter;
      color: #4a4a4a; }

.header-button {
  font-size: 16px;
  background-color: #008bcf;
  padding: 15px 15px 16px;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  margin: 15px 0;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: bold; }

.input-container-mobile {
  display: flex; }
  .input-container-mobile img {
    width: 20px;
    height: 20px; }
  .input-container-mobile .input-mobile {
    background-color: #FFF;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center; }
  .input-container-mobile input {
    outline: none;
    border: 0;
    font-size: 15px;
    width: 255px;
    max-width: 100%;
    margin: 0 12px; }
    .input-container-mobile input::placeholder {
      font-weight: lighter;
      color: #4a4a4a; }
  .input-container-mobile > .header-button {
    width: 100%;
    margin: 13px 0 11px; }

.header-sub-text {
  line-height: 21px;
  margin-bottom: 16px;
  font-size: 14px; }

.header-sub-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 11px 11px 23px;
  border: 0;
  border-radius: 100px;
  color: #008bcf;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: bold; }
  .header-sub-button > img {
    width: 30px;
    height: 30px;
    margin-left: 32px; }

@media (min-width: 1200px) {
  .main-header {
    padding: 70px 0 120px; }
  .header-title {
    font-size: 70px;
    font-weight: lighter;
    margin-bottom: 57px; }
  .header-sub-text {
    line-height: 26px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: bold; } }

.advantages.container {
  margin: -70px auto 0;
  background-color: #FFF;
  color: #4a4a4a;
  text-align: center;
  z-index: 2;
  position: relative;
  padding-bottom: 36px; }

.section-title {
  font-size: 24px;
  font-weight: lighter;
  color: #0099d9;
  padding-top: 28px;
  margin-bottom: 13px; }

.section-subtitle {
  margin: 0 auto 29px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px; }

.advantages-item {
  text-align: left;
  padding-bottom: 25px; }
  .advantages-item img {
    margin-bottom: 30px; }
  .advantages-item .advantages-item-sub-title {
    color: #008bcf;
    font-weight: bold;
    font-size: 14px; }
  .advantages-item p {
    color: #9b9b9b;
    font-size: 13px; }

.sale-steps-example {
  margin-top: -70px;
  padding-top: 70px; }
  .sale-steps-example > .container {
    text-align: center; }
  .sale-steps-example .section-subtitle {
    padding: 0 15px 18px 16px;
    margin-bottom: 0; }

.sale-steps-header {
  background: center center no-repeat url("../img/section-image.jpg");
  background-size: cover;
  text-align: center; }

.sale-step {
  text-align: left;
  margin-bottom: 25px; }
  .sale-step p {
    font-size: 14px;
    color: #9b9b9b; }
  .sale-step .sale-subtitle {
    font-size: 18px;
    color: #4a4a4a; }
  .sale-step:first-child {
    margin-top: 15px; }
  .sale-step:last-child {
    margin-bottom: 15px; }

.sale-step-text {
  margin-bottom: 26px; }

.number-circled {
  border-radius: 50%;
  font-size: 30px;
  color: #FFF;
  background-color: #008bcf;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.conditions-section {
  background-color: #008bcf;
  padding-bottom: 49px;
  color: #FFF;
  text-align: center; }
  .conditions-section .section-title {
    color: #FFF;
    font-weight: normal; }

.check-our-rate {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
  color: #FFF;
  background-color: transparent;
  border: 2px solid;
  border-radius: 100px;
  transition: background-color 1s;
  width: 85%; }
  .check-our-rate:hover, .check-our-rate :active {
    color: #008bcf;
    background-color: #FFF; }

.we-work-with > .container {
  text-align: center; }
  .we-work-with > .container img:first-child {
    margin-bottom: 30px; }

.we-work-with .row {
  margin-bottom: 85px; }

.testimonials-section .section-title, .testimonials-section .section-subtitle {
  text-align: center; }

.testimonial-slider {
  position: relative;
  max-width: 400px;
  margin: 0 auto 25px; }

.testimonial-slider-buttons {
  display: flex;
  justify-content: center; }
  .testimonial-slider-buttons .testimonial-step {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #dedede;
    margin-right: 9px;
    margin-bottom: 29px;
    cursor: pointer; }
    .testimonial-slider-buttons .testimonial-step.active {
      background-color: transparent;
      border: 1px solid #008bcf; }
    .testimonial-slider-buttons .testimonial-step:last-child {
      margin-right: 0; }

.testimonial {
  position: absolute;
  top: 0;
  left: 0; }
  .testimonial:first-child {
    position: relative; }

.testimonial-image img {
  width: 100%; }

.testimonial-text {
  background-color: #f8f8f8; }
  .testimonial-text > * {
    margin: 0 39px 0 48px; }

.testimonial-title {
  font-size: 20px;
  color: #008bcf;
  font-weight: lighter;
  font-style: italic;
  padding-top: 22px;
  padding-bottom: 8px; }

.testimonial-username {
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 25px; }

@media (max-width: 768px) {
  .advantages-item img {
    width: 60px;
    height: 60px; } }

@media (min-width: 768px) {
  .advantages.container {
    padding-bottom: 0; }
  .advantages-item {
    text-align: center;
    margin-bottom: 99px;
    padding-bottom: 0; }
    .advantages-item .advantages-item-sub-title {
      font-size: 18px; }
    .advantages-item p {
      font-size: 16px; } }

@media (min-width: 1000px) {
  .we-work-with > .container {
    margin-bottom: 85px; }
    .we-work-with > .container img:first-child {
      margin-right: 30px;
      margin-bottom: 0; } }

@media (min-width: 1200px) {
  .section-title {
    font-size: 42px;
    padding-top: 56px;
    margin-bottom: 13px; }
  .section-subtitle {
    width: 46%;
    margin: 0 auto 60px;
    font-size: 18px;
    line-height: 26px; }
  .sale-steps-example {
    background: none; }
    .sale-steps-example .section-subtitle {
      padding-bottom: 0;
      margin: 0 auto 29px; }
  .sale-steps-header {
    min-height: 640px; }
  .sales-steps {
    margin-top: -400px; }
  .sale-step-content {
    line-height: 25px;
    padding-left: 0; }
  .sale-step-container {
    padding-top: 18px;
    background-color: rgba(255, 255, 255, 0.63);
    border-bottom: 8px solid transparent;
    cursor: pointer; }
  .sale-step-container.active, .sale-step-container:hover {
    background-color: #FFF;
    border-bottom: 8px solid #008bcf; }
  .sale-step-text {
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 17px; }
  .conditions-section {
    padding-bottom: 66px;
    margin-top: -40px; }
    .conditions-section .section-title {
      padding-top: 69px; }
  .sale-steps-slider {
    width: 100%;
    position: relative;
    overflow: hidden; }
    .sale-steps-slider img {
      width: 100%; }
  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; }
    .slider-image:first-child {
      position: relative;
      visibility: visible; }
  .number-circled {
    border-radius: 50%;
    font-size: 30px;
    color: #FFF;
    background-color: #008bcf;
    text-align: center;
    width: 42px;
    height: 42px; }
  .conditions-section .section-title {
    font-weight: lighter; }
  .check-our-rate {
    width: auto; } }

.footer-mobile {
  text-align: center; }
  .footer-mobile .main-logo img {
    max-height: 46px; }
  .footer-mobile .main-logo-row {
    padding-top: 27px;
    padding-bottom: 20px; }
  .footer-mobile .footer-nav-row {
    padding-bottom: 11px;
    border-bottom: 1px solid #e5e5e5; }
  .footer-mobile .contact-info-row {
    border-bottom: 1px solid #e5e5e5; }
    .footer-mobile .contact-info-row .contact-info {
      margin: 0 auto; }
  .footer-mobile .copyright-row {
    padding-top: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e5e5e5; }
  .footer-mobile .social-row {
    padding-top: 10px;
    padding-bottom: 37px; }

.footer-desktop > .container {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #e5e5e5;
  padding-top: 35px;
  padding-bottom: 37px; }

.sub-footer {
  margin-bottom: 35px; }
  .sub-footer > .container {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    margin: 0 auto;
    align-items: center; }
  .sub-footer p {
    margin-bottom: 0; }
  .sub-footer a, .sub-footer a:hover {
    color: #4a4a4a;
    text-decoration: none; }
  .sub-footer .social-media-icons {
    text-align: right; }

footer nav {
  text-align: center; }
  footer nav a {
    margin-right: 20px;
    font-size: 13px; }
  footer nav a, footer nav a:hover {
    color: #4a4a4a;
    text-decoration: none; }

.copyright {
  font-size: 13px;
  color: #545454; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

body {
  position: relative; }

p {
  margin-bottom: 0; }

img {
  max-width: 100%; }

button:focus {
  outline: none; }

.no-display {
  z-index: -1;
  height: 0;
  visibility: hidden; }

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .overlay.display-overlay {
    z-index: 3; }

.selected-slider-image {
  visibility: visible;
  z-index: 2; }
