.footer-mobile {
    text-align: center;
    .main-logo img {
        max-height: 46px;
    }
    .main-logo-row {
        padding-top: 27px;
        padding-bottom: 20px;
    }
    .footer-nav-row {
        padding-bottom: 11px;
        border-bottom: 1px solid #e5e5e5;
    }
    .contact-info-row {
        border-bottom: 1px solid #e5e5e5;
        .contact-info {
            margin: 0 auto;
        }
    }
    .copyright-row {
        padding-top: 16px;
        padding-bottom: 7px;
        border-bottom: 1px solid #e5e5e5;
    }
    .social-row {
        padding-top: 10px;
        padding-bottom: 37px;
    }
}


.footer-desktop{
    > .container {
        display: flex;
        justify-content: space-between;
        border-top: 3px solid #e5e5e5;
        padding-top: 35px;
        padding-bottom: 37px;
    }
}

.sub-footer {
    margin-bottom: 35px;
    > .container {
        padding-top: 14px;
        padding-bottom: 14px;
        border-top: 3px solid #e5e5e5;
        border-bottom: 3px solid #e5e5e5;
        margin: 0 auto;
        align-items: center;
    }
    p {
        margin-bottom: 0;
    }
    a, a:hover {
        color: $secondaryColor;
        text-decoration: none;
    }
    
    .social-media-icons {
        text-align: right;
    }
}

footer nav {
    text-align: center;
    a {
        margin-right: 20px;
        font-size: 13px;
    }
    a, a:hover {
        color: $secondaryColor;
        text-decoration: none;
    }
}

.copyright {
    font-size: 13px;
    color: #545454;
}

.contact-info {
    @extend .nav-contact-info;
}

@media (min-width: 1200px) {

}