.advantages.container {
    margin: -70px auto 0;
    background-color: #FFF;
    color: $secondaryColor;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-bottom: 36px; 
}

.section-title {
    font-size: 24px;
    font-weight: lighter;
    color: #0099d9;
    padding-top: 28px;
    margin-bottom: 13px;
}

.section-subtitle {
    margin: 0 auto 29px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
}

.advantages-item {
    text-align: left;
    padding-bottom: 25px; 
    img {
        margin-bottom: 30px;
    }
    .advantages-item-sub-title {
        color: $mainColor;
        font-weight: bold;
        font-size: 14px;
    }
    p {
        color: $ternaryColor;
        font-size: 13px;
    }
}

.sale-steps-example {
    margin-top: -70px;  
    padding-top: 70px;
    > .container {
        text-align: center;
    }
    .section-subtitle {
        padding: 0 15px 18px 16px;
        margin-bottom: 0;
    }
}

.sale-steps-header { 
    background: center center no-repeat url('../img/section-image.jpg');
    background-size: cover;
    text-align: center;
}

.sale-step {
    text-align: left;
    margin-bottom: 25px;
    p {
        font-size: 14px;
        color: $ternaryColor;
    }
    .sale-subtitle {
        font-size: 18px;
        color: $secondaryColor;
    }
    &:first-child {
        margin-top: 15px;
    }
    &:last-child {
        margin-bottom: 15px;
    }
}

.sale-step-text {
    margin-bottom: 26px;
}
.number-circled {
    border-radius: 50%;
    font-size: 30px;
    color: #FFF;
    background-color: $mainColor;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conditions-section {
    // background: center center no-repeat url('../img/section-image-2.jpg');
    // background-size: cover;
    background-color: #008bcf;
    padding-bottom: 49px; 
    color: #FFF;
    text-align: center;
    .section-title {
        color: #FFF;
        font-weight: normal;
    }
}

.check-our-rate {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 16px;
    color: #FFF;
    background-color: transparent;
    border: 2px solid;
    border-radius: 100px;
    transition: background-color 1s;
    width: 85%;
    &:hover, :active {
        color: $mainColor;
        background-color: #FFF;
    }
}

.we-work-with {
    > .container {
        text-align: center;
        img:first-child {
            margin-bottom: 30px;
        }
    }
    .row {
        margin-bottom: 85px;
    }
}

.testimonials-section {
    .section-title, .section-subtitle {
        text-align: center;
    }
}

.testimonial-slider {
    position: relative;
    max-width: 400px;
    margin: 0 auto 25px;
}

.testimonial-slider-buttons {
    display: flex;
    justify-content: center;
    .testimonial-step {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #dedede;
        margin-right: 9px;
        margin-bottom: 29px;
        cursor: pointer;
        &.active {
            background-color: transparent;
            border: 1px solid $mainColor;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.testimonial {
    position: absolute;
    top: 0;
    left: 0;
    &:first-child {
        position: relative;
    }
}

.testimonial-image img{
    width: 100%;
}
.testimonial-text {
    background-color: #f8f8f8;
    > * {
        margin: 0 39px 0 48px;
    }
}
.testimonial-title {
    font-size: 20px;
    color: $mainColor;
    font-weight: lighter;
    font-style: italic;
    padding-top: 22px;
    padding-bottom: 8px;
}
.testimonial-username {
    font-size: 14px;
    color: $secondaryColor;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .advantages-item img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {
    .advantages.container {
        padding-bottom: 0;
    }
    .advantages-item {
        text-align: center;
        margin-bottom: 99px;
        padding-bottom: 0;
        .advantages-item-sub-title {
            font-size: 18px;
        }
        p {
            font-size: 16px;
        }
    }
}

@media (min-width: 1000px) {
    .we-work-with {
        > .container {
            margin-bottom: 85px;
            img:first-child {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .section-title {
        font-size: 42px;
        padding-top: 56px;
        margin-bottom: 13px;
    }
    .section-subtitle {
        width: 46%;
        margin: 0 auto 60px;
        font-size: 18px;
        line-height: 26px;
    }

    .sale-steps-example {
        background: none;
        // background-size: cover;
        // max-height: 640px;
        .section-subtitle {
            padding-bottom: 0;
            margin: 0 auto 29px;
        }
    }
    .sale-steps-header { 
        min-height: 640px;
    }
    .sales-steps {
        margin-top: -400px;
    }
    .sale-step-content {  
        line-height: 25px;
        padding-left: 0;
    }
    .sale-step-container {
        padding-top: 18px;
        background-color: rgba(255, 255, 255, 0.63);
        border-bottom: 8px solid transparent;
        cursor: pointer;
    }
    .sale-step-container.active, .sale-step-container:hover {
        background-color: #FFF;
        border-bottom: 8px solid $mainColor;
    }
    .sale-step-text {
        margin-top: 6px;
        margin-bottom: 0;
        line-height: 17px;
    }
    .conditions-section {
        padding-bottom: 66px;
        margin-top: -40px;
        .section-title {
            padding-top: 69px;
        }
    }
    .sale-steps-slider {
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .slider-image {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        &:first-child {
            position: relative;
            visibility: visible;
        }
    }
    
    .number-circled {
        border-radius: 50%;
        font-size: 30px;
        color: #FFF;
        background-color: $mainColor;
        text-align: center;
        width: 42px;
        height: 42px;
    }
    .conditions-section .section-title {
        font-weight: lighter;
    }
    .check-our-rate {
        width: auto;
    }
}