.main-nav {
    margin: 0 auto;
    // position: fixed;
    width: 100%;
    background-color: #FFF;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 51px;
        max-width: 1600px;
    }
}

.main-logo {
    flex: auto;
    margin-left: 17px;
    > * {
        display: inline;
    }
    img {
        max-height: 34px;
    }
    .logo-text {
        font-size: 27px;
        font-weight: bold;
        b {
            color: $mainColor;
        }
    }
}

.mobile-menu {
    z-index: 5;
}

.mobile-nav {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    a {   
        color: #FFF;
    }
    .navbar-list {
        width: 100%;
        padding-bottom: 50px;
    }
}

@keyframes mobileBackground {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
};

.navbar {
    min-width: 40%;
    padding: 0;
    transition: all 1s;
    transition-property: background, height;
}

.navbar-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar-item {
    font-size: 20px;
    color: $secondaryColor;
    padding-bottom: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    margin: 20px 10px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        color: #FFF;
        border-bottom: 3px solid $mainColor;
    }
    &:first-child {
        margin-top: 70px;
    }
}

.subnav-content {
    display: none;
}

.nav-contact-info {
    display: flex;
    .phone-contact {
        color: #545454;    
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 0 ;
        > img {
            margin-right: 5px;
        }
    }
}

@media (min-width: 1120px) {
    .main-nav {
        .container {
            min-height: 120px;
        }
    }
    .main-logo {
        flex: unset;
    }
    .main-logo img {
        max-height: unset;
    }
    .navbar {
        min-width: 40%;
        padding: 0;
        &.no-display {
            z-index: 1;
            height: unset;
            visibility: unset;
        }
    }
    
    .navbar-list {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-width: 100%;
    }

    .navbar-item {
        font-size: 14px;
        color: $secondaryColor;
        padding-bottom: 2px;
        text-transform: uppercase;
        font-weight: normal;
        &:hover {
            color: $secondaryColor;
            border-bottom: 4px solid $mainColor;
            text-decoration: none;
        }
        &:first-child {
            margin-top: 20px;
            margin-left: 83px;
        }
    }
}