@import 'variables';
@import 'navbar';
@import 'header';
@import 'main';
@import 'footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

button:focus {
    outline: none;
}